.section {
    width: 80%;
    margin: auto;
    background-color: rgba(250, 250, 250, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.suitcase-owner {
    display: flex;
}
.text {
    display: block;
    padding: 2em;
}

.subsection {
    margin: 1em;
    width: 100%;
    padding: 1em;
    background-color: var(--main);
    box-shadow: 0 0 10px var(--brownish);
}

.subsection-trips {
    display: flex;
    justify-content: center;
    margin: 1em;
    width: 100%;
    padding: 1em;
    background-color: var(--main);
    box-shadow: 0 0 10px var(--brownish);
}

.italic {
    font-style: italic;
}
.trips {
    margin: 1em;
    min-width: 300px;
    width: 45%;
}
.suitcase-offered {
    background-color: var(--bluish2);
}
.suitcase-taken {
    background-color: var(--bluish);
}
.toggle-upload .profile-logo {
    height: 200px;
    width: 200px;
}

#suitcase-section img.userpic,
.section img.userpic {
    border: 7px solid var(--brown);
    height: 200px;
    width: 200px;
}

.toggle-upload {
    height: 300px;
}

.toggle-upload:hover {
    cursor: pointer;
}

#pic-uploader {
    position: relative;
    text-align: center;
    /* background-color: rgba(43, 43, 43, 0.5); */
    background: url("./../img/suitcase.svg");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 7px solid var(--brown);
    border-radius: 5px;
}

#pic-uploader #close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
    box-shadow: 0 0 5px var(--brown);
}
#pic-uploader #close:hover {
    box-shadow: 0 0 2px var(--brownish);
    cursor: pointer;
}

#pic-uploader form {
    display: flex;
    flex-direction: column;
}

#pic-uploader form label a {
    padding: 1em;
    font-size: 1em;
}
#pic-uploader input#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input#file + label {
    padding: 5px 10px;
    height: inherit;
    width: 80px;
    border-radius: 2px;
    /* font-size: 1em; */
    /* display: inline-block; */
}

input#file:focus + label,
input#file + label:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--brownish);
}

button.btn-upload,
button.btn-submit {
    font-size: 1em;
    padding: 16px;
    background: var(--blue);
    box-shadow: 0 0 5px;
    margin: 0;
}
button.btn-upload {
    cursor: pointer;
}
textarea {
    font-size: 1em;
    width: 50%;
    height: 50px;
    color: var(--brown);
}

#desc-text {
    width: 50%;
    margin: 1em auto;
    font-style: italic;
}
