:root {
    --main: #f6fafa;
    --brown: #4d4d52;
    --brownish: #7d7c7c;
    --blue: #9dc6ca;
    --bluish: #deeced;
    --bluish2: #bdd9db;
}

.app {
    text-align: center;
}

.logo {
    /* animation: App-logo-spin infinite 10s linear; */
    height: 80px;
}

.logo:hover {
    animation: App-logo-spin 3s linear;
}

.header {
    margin-top: 2em;
    background-color: var(--main);
    height: 140px;
    padding: 20px;
    color: var(--brown);
    margin: 0;
    box-shadow: 0 0 20px;
}
main {
    /* background-image: url("background-case.jpg"); */
    /* background-size: 35% 100%; */
    /* min-height: 400px; */
}

main:before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("suitcases.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: var(--brown);
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--brown);
}
.title {
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

.navigation-corner {
    display: flex;
    height: 84px;
}

.login-section.section,
.register-section.section {
    width: 380px;
    box-shadow: 0 0 10px;
    padding-top: 8em;
    margin: -5.5em auto;
}

.login-section.section .btn,
.register-section.section .btn {
    font-size: 1em;
    padding: 16px;
    background: var(--blue);
    box-shadow: 0 0 5px;
    margin: 5px;
    display: block;
    width: 167px;
}

.btn-nav,
a.btn {
    padding: 16px;
    background: var(--blue);
    box-shadow: 0 0 5px;
    margin: 5px;
}

.login-section.section .small-btn,
.register-section.section .small-btn {
    padding: 6px;
    margin: 5px;
    width: 153px;
}

.btn-nav:hover a.btn:hover {
    box-shadow: 0 0 3px var(--brown);
}

.user-profile {
    display: inline-flex;
    align-items: flex-start;
}

.user-profile a {
    display: inline-flex;
    margin: auto;
    /* background: var(--blue); */
    /* box-shadow: 0 0 3px; */
    align-items: center;
    margin: 5px;
    padding-left: 5px;
}
.user-profile a:hover {
    box-shadow: 0 0 3px var(--brown);
}

.profile-name {
    padding-right: 5px;
}

/* profile pic in nav */
.profile-logo .userpic {
    margin: 1px;
    padding: 1px;
    width: 44px;
    height: 44px;
    border-radius: 2px;
}

.menu {
    position: absolute;
    top: 5em;
    right: 1.5em;
    z-index: 10;
}

.profile #menu-icon {
    width: 1em;
}
.profile #menu-icon:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--brownish);
}

#drop-down-menu {
    background: var(--main);
    z-index: 10;
    box-shadow: 0 0 2px var(--brownish);
    top: -12px;
    right: 64px;
    padding: 5px 0;
    border-radius: 2px;
}

#drop-down-menu a {
    padding: 5px 10px;
    display: block;
    /* border-bottom: 1px solid var(--brownish); */
}

#drop-down-menu a:last-child {
    /* border-bottom: none; */
}

#drop-down-menu a:hover {
    box-shadow: 0 0 2px var(--brownish);
    background: var(--bluish2);
}

#search-bar {
    position: relative;
    top: 1em;
    padding: 1em;
    background-color: var(--main);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-shadow: 1px 0 10px var(--brown);
}

#search-bar .input {
    margin: 16px;
    width: 160px;
    height: 32px;
    padding: 0.4em 0.4em 0.2em 0.2em;
}
/* #search-bar input.input {
    height: 32px;
} */
#search-bar input.input.date {
    width: 144px;
    font-family: sans-serif;
    color: var(--brownish);
}
#search-bar select.input {
    height: 44px;
    padding: 0.4em 0.4em 0.2em 0.2em;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    font-size: 1em;
    font-family: sans-serif;
    color: var(--brownish);
}
#search-bar .btn,
#suitcase-section btn {
    margin: auto 1em;
}
#search-bar button,
#suitcase-section button {
    height: 40px;
    background-color: var(--blue);
    box-shadow: 0 0 3px;
}

#search-bar button:hover,
#suitcase-section button:hover {
    cursor: pointer;
    box-shadow: 0 0 1px var(--brownish);
}

#search-bar label {
    color: var(--brown);
    font-size: 14px;
    position: relative;
    left: -2em;
    top: 0.5em;
}

#search-bar #description {
    margin: 16px;
    /* width: 340px; */
    height: 44px;
    /* font-family: sans-serif; */
    color: var(--brown);
}
#search-bar #description textarea {
    height: 44px;
    width: 144px;
    padding: 0.4em 0.4em 0.2em 0.2em;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    border-radius: 2px;
}

#search-bar #description:focus {
    margin: 16px;
    width: 340px;
    height: 100px;
    /* font-family: sans-serif; */
    color: var(--brown);
}

#search-bar #description textarea:focus {
    width: 336px;
    padding: 0.4em 0.4em 0.2em 0.2em;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
/* #search-bar input.input.date {
    width: 144px;
    font-family: sans-serif;
    color: var(--brownish);
} */

#form {
    margin: 1em auto;
    padding: 2em;
}

/* .formErrors > p, */
p.error {
    font-style: italic;
    font-size: 0.9em;
    color: #b5696f;
    margin: 0;
    padding: 0.1em;
}

input {
    display: block;
    padding: 0.2em;
    margin: 0.5em auto;
    font-size: 1em;
    border-radius: 4px;
    background-color: rgba(250, 250, 250, 0.8);
}

#search-results,
#suitcase-section {
    top: 3em;
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    padding: 1em;
    margin-top: 0;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 5px;
    border: 5px double rgba(250, 250, 250, 0.9);
}
#suitcase-section {
    margin-top: 3em;
}
#search-results .suitcase,
#suitcase-section .suitcase,
.trips .suitcase {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) 100px 50px;
    background: var(--main);
    padding: 1em;
    margin-top: 0.5em;
    box-shadow: 0 0 5px rgba(43, 43, 43, 0.1);
    color: var(--grey);
    border-radius: 2px;
}

@media (max-width: 480px) {
    #search-results .suitcase,
    #suitcase-section .suitcase,
    .trips .suitcase {
        grid-template-columns: 1fr;
    }
}

#search-results .suitcase:hover {
    box-shadow: 0 0 7px var(--brownish);
    cursor: pointer;
}

#search-results .suitcase.from,
#search-results .suitcase.to {
    font-size: 1.5em;
    width: 25%;
    background-color: var(--brown);
}

#suitcase-section .suitcase-owner {
    display: inline-flex;
    justify-content: flex-start;
}

@keyframes App-logo-spin {
    0% {
        transform: translateX(0px) rotate(0deg);
    }
    40% {
        transform: translateX(18px) translateY(15px) scale(0.5) rotate(100deg);
    }
    100% {
        transform: translateX(40px) translateY(55px) scale(0.2) rotate(350deg);
    }
}
